## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [2]:
5+0/6-1
4

4

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [9]:
var=int(input('Enter the number'))
if var%2==0:
    print('The number is even',var)
elif var==0:
    print('The number is Zero',0)
else:
    print('The number is odd',var)

Enter the number78
The number is even 78

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [24]:
var =int(input('Enter the number'))
l1=list(range(10))
for i in range(len(l1)):
      print(var,'*',i,'=',var*i)

Enter the number24
24 * 0 = 0
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
l1=list(range(2000,3200,1))
for var in l1:
    if var%7==0 and var%5!=0:
        print(var)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [133]:
l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
l2=[]
c2=0
l3=[]
c3=0
l4=[]
c4=0
l5=[]
c5=0
for var in l1:
    if type(var)==int:
        l2.append(var)
        c2=c2+l2.count(var)
        
    elif type(var)==str:
        l3.append(var)
        c3=l3.count(var)+c3
    elif type(var)==float:
        l5.append(var)  
        c5=l5.count(var)+c5
    else:
        l4.append(var)
        c4=l4.count(var)+c4
   
print('count of int=',c2)
print('count of str=',c3)
print('count of float=',c5)
print('count of Boolean=',c4)

count of int= 6
count of str= 4
count of float= 1
count of Boolean= 2

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [102]:
l1=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
num=0
for var in l1:
    if type(var) in (int,float):
        num=num+var
print(num)

21.5

range(0, 12)

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [30]:
l1= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
l2=[]
s1=' '
for var in range(len(l1)):
    if type(l1[var])==str:
        l2.append(l1[var])
        s1=s1+l1[var]+'-'
        
print(l2)
print(s1)

['Py', '10', 'SQL', 'John']
 Py-10-SQL-John-

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [31]:
l1= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

l3=[]
l2=[]

def sumoflist(l1):
    sum=0
    c2=0
    for var in l1:
        if type(var) in (int,float):
            sum=sum+var
        elif type(var) == str:
            l3.append(var)
            c2=c2+l3.count(var)      
            
    return('Sum :',sum,'Count_of_Strs:',c2) 

##print('sum:',sum,'count of strs:',c2)

In [32]:
sumoflist(l1)

('Sum :', 21.5, 'Count_of_Strs:', 4)

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [40]:
l1 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
l2=[]
for var in l1:
    if var%2!=0:
        l2.append(var)
l2

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [121]:
def summary(x):
    return list([min(x),max(x),sum(x),len(x)])

In [122]:
n=int(input('Enter the Numbers please '))
l1=list(range(5,n,1))
summary(l1)

Enter the Numbers please 50

[5, 49, 1215, 45]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [167]:
def area(shape,**kwargs):
    if shape=='square':
        area=kwargs['side']*kwargs['side']
    elif shape=='rectangle':
        area=kwargs['side1']*kwargs['side2']
    elif shape=='circle':
        area=3.14*kwargs['radius']**2
    return area

In [166]:
# For square
area(input('enter the shape '),side=int(input('enter the side ')))

enter the shape square
enter the side 5

25

In [164]:
# For Rectangle
area(input('enter the shape '),side1=int(input('enter the side1 ')),side2=int(input('enter the side2 ')))

enter the shape rectangle
enter the side1 50
enter the side2 10

500

In [168]:
# For circle
area(input('enter the shape '),radius=int(input('enter the radius ')))

enter the shape circle
enter the radius 4

50.24

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [30]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
def reconcile(l1,l2):
    a=set(l1)
    b=set(l2)
    result={}
    result['Matched']=list(a.intersection(b))
    result['Only in l1']=list(a.difference(b))
    result['Only in l2']=list(b.difference(a))
    return result

In [31]:
reconcile(l1,l2)

{'Matched': ['December', 'January', 'June', 'February'],
 'Only in l1': ['March', 'September', 'May'],
 'Only in l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [1]:
def primenumber(x):
    if x==1:
        print('The number is prime')
    elif x>2:
        for var in range(2,x):
            if x%var==0:
                print('The number is not prime')
                break
            else:
                print('The number is prime')
                break
                
        return var
    
    else :
        print('The number is not prime')
    #return var

In [2]:
primenumber(1)

The number is prime

Q14. Write a program which can compute the factorial of a given numbers. 

# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [165]:
x=int(input('Enter the number'))
f=1
for var in range(1,x):
    f=f*var
print(f'The factorial is {f}')

Enter the number5
The factorial is 24

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [181]:
n=int(input('Enter the number '))
{var:var*var for var in range(1,9)}

Enter the number 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# OR

In [182]:
n=int(input('Enter the number '))
for var in range(1,9):
    result={var:var*var}
    print(result)

Enter the number 8
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [203]:
l2=[]
for var in range(0,6):
    x=int(input('Enter the list number '))
    l2.append(x)
    l3=tuple(l2)
print(l2,l3)

Enter the list number 34
Enter the list number 67
Enter the list number 55
Enter the list number 33
Enter the list number 12
Enter the list number 98
[34, 67, 55, 33, 12, 98] (34, 67, 55, 33, 12, 98)

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [234]:
x=input('Enter the words as list:  ')
y=x.split(',')
y.sort()
print((', ').join(y))

Enter the words as list:  without,hello,bag,world
bag, hello, without, world

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [252]:
x=input('Enter the sequence of words ')
y=x.split(' ')
z=set(y)
sor=sorted(z)
print((' ').join(sor))

Enter the sequence of words hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [293]:
x=list(input('enter the word '))
a=0
b=0
for var in x:
    if var.isupper():
        a=a+1
    elif  var.islower() :
        b=b+1
    else :
        pass
print(f'UPPER {a},LOWER {b}')

enter the word Hello world!
UPPER 1,LOWER 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [276]:
x=input('Enter the string ')
y=x[::-1]
print(y)

Enter the string abcd123
321dcba